<h1>Welcome to My Travel Site</h1>
<p>The world's foremost website about where I want to travel.</p>

<p><%= @homeland %></p>

<ul>
	<% @countries.each do |country| %>
		<li><%= country %></li>
	<% end %>
</ul>

<% @country_images.shuffle.each do |picture| %>
	<p>
		<%= image_tag picture, alt: "some country...or kittens" %>
	</p>
<% end %>

<% @country_image_hash.each do |k,v| %>
	<p>
		<%= image_tag v, alt: k %>
	</p>
<% end %>